# Ignorar:
backup/
simulator/experiments/*
notebooks/40tena/

simulator/base_cases/Fg_protocol/
simulator/base_cases/Lyu_CT_baseCase/
simulator/base_cases/Lyu_CT_exp_All/
simulator/base_cases/SA_CTscan_Fdry/
simulator/base_cases/Scenario_4_C1_Lyu/

# Ignorar caches e arquivos temporários
__pycache__/
*.pyc
*.pyo
*.swp

# Ignorar arquivos comprimidos e binários comuns
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz

# Ignorar arquivos de log e temporários
*.log
*.tmp

# Ignorar arquivos específicos do Jupyter Notebook
.ipynb_checkpoints/

# Ignorar arquivos de build do OpenFOAM (caso aplicável)
*.o
*.dep
*.exe
*.out
*.so

# Ignorar arquivos de configuração locais
.env
.DS_Store
Thumbs.db
